
	<div class="row">
		<div class="col-md-3">
			<h3>
				<%= @user.name %>
			</h3>
		</div>

		<div class="col-md-12">
			<%= link_to 'Edit profile', edit_user_registration_path(current_user), class: 'btn btn-primary' %>
		</div>
	</div>
		<br>
	<div class="row">
		<div align="center" class="col-md-2">
			<h4>My photos</h4>
		</div>
		<div class="col-md-2">
			<div style="margin:0px; padding:0px;">
				<%= link_to 'Create new foto', new_image_path, class: 'btn btn-primary' %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table" border="2">
				<tr>
					<th>Photo</th>
					<th>Title</th>
					<th>Actions</th>
				</tr>
				<% @images.each do |pic| %>
				<tr>
					<td><%= image_tag pic.image_url(:table_version) %></td>
					<td><%= pic.name %></td>
					<td>
						<%= link_to "Remove", image_path(pic), method: :delete, data: { confirm: 'Are you sure?' }%>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>



