
<%= form_for [@image, @image.posts.build], :html => {:class => "form-horizontal center"}, remote: true do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="form-inputs">
      Text: <%= f.text_area :body, required: true %>
    </div>
 <br>
    <div class="form-inputs">
      Score: <%= f.select :rating, (1..5).to_a %>
    </div>
<br>
    <%= f.submit 'Add comment', class: "btn btn-primary" %>
<% end %> 