
<%= bootstrap_form_for [@image, @image.posts.build] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= f.text_area :body, required: true %>
    </div>
 <br>
    <div>
      <%= f.select :rating, (1..5).to_a %>
    </div>
<br>
    <%= f.submit 'Add comment', class: "btn btn-primary" %>
<% end %> 